{% extends 'base.html' %}

{%block title%} Lista de Produtos {%endblock%}
{% block main %}





    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <p class="form-control-static">Pesquisar por nome</p>
                </div>
                <div class="form-group mx-sm-3">
                    <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Nome">
                </div>
                <button type="submit" class="btn btn-outline-primary">Pesquisar</button>
                <a href="{% url 'adicionar_contato' %}" class="btn btn-outline-secondary">Novo Produto</a>



        </div>
                    

    </div>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for contato in contatos %}

        <li>{{ contato.nome }} <b>R${{ contato.valor }}</b><a href="{%url 'atualizar_contato' contato.id %}"> Editar</a>

            <a href="{%url 'excluir_produto' contato.id %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
            <hr>
<!--            <button onclick="confirmarDelete()">Deletar</button>-->

        </li><hr>

<!--                     <script>-->
<!--                        function confirmarDelete()-->
<!--                        {-->
<!--                        var x;-->
<!--                        var r=confirm("Excluir produto?");-->
<!--                        if (r==true)-->
<!--                          {-->
<!--                          location.href="{% url 'excluir_produto' contato.id %}"-->
<!--                          }-->
<!--                        }-->
<!--                     </script>-->



        {% endfor %}
    </ul>
    <div class="pagination">

            <nav aria-label="Page navigation example">
                  <ul class="pagination">
                      {% if produtos.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ contatos.previous_page_number }}">Previous</a></li>
                    {% endif %}

                      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>


                      {% if produtos.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ contatos.next_page_number }}">Next</a></li>
                    {% endif %}
                  </ul>
            </nav>

<!--        <span class="step-links">-->

<!--            {% if produtos.has_previous %}-->
<!--                <a href="?page={{ produtos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>-->
<!--            {% endif %}-->

<!--            <span class="current">-->
<!--               {{ produtos.number }} de {{ produtos.paginator.num_pages }}-->
<!--            </span>-->

<!--            {% if produtos.has_next %}-->
<!--                <a href="?page={{ produtos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>-->
<!--            {% endif %}-->

<!--        </span>-->
    </div>

    <br>



{% endblock %}