{% extends 'base.html' %}
{% load bootstrap %}

{%block title%} Formulario {%endblock%}
{% block main %}
    <h1>Nova Lista</h1>
<!--    <input type="text" class="form-control" id="documento" name="documento" placeholder="Nome do Projeto">-->
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="alert alert-info clearfix">
        <button type="submit" class="btn btn-success pull-right" >Adicionar a lista</button>
            <a href="{% url 'gerar_documento' projeto.id %}" class="btn btn-primary">Gerar arquivo xlsx</a>
         <a href="{% url 'gerar_docx' projeto.id%}" class="btn btn-primary">Gerar docx</a>
<!--            <a href="{% url 'listar_downloads' %}" class="btn btn-primary">Lista de Downloads</a>-->
            <button type="button" class="btn btn-danger" onclick="confirmarDelete()">Limpar Lista</button>

            </div>

    </form>
    <br>

     <!--<h1>Produtos adicionados</h1>-->
    <ul>
        <!--{% for produto in produtos %}-->
            <!--<li>{{ produto.produto }} <b>{{ produto.quantidade }}</b>-->


                <!--<button onclick="confirmarDelete()">Deletar</button></li><hr>-->


<!--                     <script>-->
<!--                        function confirmarDelete()-->
<!--                        {-->
<!--                        var x;-->
<!--                        var r=confirm("Excluir postagem?");-->
<!--                        if (r==true)-->
<!--                          {-->
<!--                          location.href="{% url 'limpar_lista' %}"-->
<!--                          }-->
<!--                        }-->
<!--                     </script>-->

        <!--{% endfor %}-->

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Produtos adicionados a lista {{projeto.nome_projeto}}
             </a>
            {% for produto in produtos %}
                  <!--<a href="#" class="list-group-item list-group-item-action">{{ produto.produto }} | <b>{{ produto.quantidade }} UND</b></a>-->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{%url 'atualizar_prod_lista' produto.id %}" class="list-group-item list-group-item-action">{{ produto.produto }}
                </a>
            <span class="badge badge-primary badge-pill">{{ produto.quantidade }}</span>
                <a href="{%url 'excluir_lista_produto' produto.id %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>

            </li>

                    <script>
                        function confirmarDelete()
                        {
                        var x;
                        var r=confirm("Limpar lista de material?");
                        if (r==true)
                          {
                          location.href="{% url 'limpar_lista' %}"
                          }
                        }
                     </script>

                <!--<button onclick="confirmarDelete()">Deletar</button></li><hr>-->
                <!--<button type="button" class="btn btn-danger" onclick="confirmarDelete()">Deletar</button><hr>-->

                     <!--<script>-->
                        <!--function confirmarDelete()-->
                        <!--{-->
                        <!--var x;-->
                        <!--var r=confirm("Excluir postagem?");-->
                        <!--if (r==true)-->
                          <!--{-->
                          <!--location.href="{% url 'excluir_produto_lista' produto.id %}"-->
                          <!--}-->
                        <!--}-->
                     <!--</script>-->
            {% endfor %}

        </div>

    </ul>

{% endblock %}