{% extends 'base.html' %}

{%block title%} Lista de Fornecedores {%endblock%}
{% block main %}





    <div class="row">
        <div class="col-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <p class="form-control-static">Pesquisar por nome</p>
                </div>
                <div class="form-group mx-sm-3">
                    <input type="text" class="form-control" id="pesquisa" name="pesquisa" placeholder="Nome">
                </div>
                <button type="submit" class="btn btn-primary">Pesquisar</button>
                <a href="{% url 'novo_fornecedor' %}" class="btn btn-primary">Cadastrar Fornecedor</a>


        </div>


    </div>
    <h1>Lista de Fornecedores</h1>
    <ul>
        {% for fornecedor in fornecedores %}

        <li> <b>{{ fornecedor.razao_social }} <br> </b> {{ fornecedor.telefone }}

        <a href="{% url 'atualizar_fornecedor' fornecedor.id %}">Editar</a>
        <button onclick="confirmarDelete()" type="button" class="btn btn-outline-danger">Deletar</button></li><hr>

                     <script>
                        function confirmarDelete()
                        {
                        var x;
                        var r=confirm("Excluir fornecedor?");
                        if (r==true)
                          {
                          location.href="{% url 'excluir_fornecedor' fornecedor.id %}"
                          }
                        }
                     </script>



        {% endfor %}
    </ul>

    <br>

    <a href="{% url 'novo_fornecedor' %}" class="btn btn-primary">Cadastrar Fornecedor</a>


{% endblock %}